@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --ff-sans: 'Figtree', sans-serif;
  --fw-500: 500;
  --fw-800: 800;
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
}

body {
  font-family: var(--ff-sans);
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  /* width: 80%; */
  width: 325px;
  padding: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  /* gap: 1rem; */
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-950);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-gray-950);
}

.hero {
  width: 275px;
  /* width: 100%; */
  object-fit: cover;
  border-radius: 1rem;
  margin-block-end: 1.5rem;
}

.pill {
  max-width: max-content;
  font-weight: var(--fw-800);
  text-align: center;
  background-color: var(--color-yellow);
  padding: 9px 13px;
  border-radius: 5px;
  margin-block-end: 1rem;
}

.date {
  color: var(--color-gray-500);
  font-size: 0.875;
  margin-block-end: 1.5rem;
}

.title {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--color-gray-950);
  font-weight: var(--fw-800);
  margin-block-end: 1.5rem;
}

.title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.summary {
  color: var(--color-gray-500);
  font-size: 0.975rem;
  line-height: 1.3;
  margin-block-end: 1.5rem;
}

.author-wrapper {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  width: 100%;
}

.author-wrapper img {
  width: 100%;
  max-width: 30px;
  aspect-ratio: 1/1;
  margin-inline-end: 1rem;
}

.author {
  color: var(--color-gray-950);
  font-weight: var(--fw-800);
  line-height: 1;
}

@media (min-width: 1440px) {
  .card {
    max-width: 380px;
  }
  .title {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
